.weatherCard {
    font-family: cursive;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 290px;
    padding: 15px 10px;
    align-items: center;
    background-image: url(mountain.png); 
    background-size: cover;
    box-shadow: 4px 4px 25px 0px black;
    margin: 2rem;
}

hr{
    border: 1px dotted black;
}

.temp{
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 5rem;
}

.info {
    font-size: 13px;
    text-align: center;
}

.info p {
    padding: 8px;
}

.inputField {
    margin-top: 5px;
}
.inputField input {
    font-family: cursive;
    font-weight: bold;
    width: 100px;
    margin-top: 5px;
    background-color: transparent;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}

.inputField button {
    font-family: cursive;
    font-weight: bold;
    margin: 0 3px;
    width: 33px;
    height: 22px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid black;
}
